body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px; /* Reduced padding on smaller screens */
    color: #333;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.character-card {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border: 2px solid transparent;
    border-radius: 10px;
    width: 90%; /* More flexible width for smaller screens */
    max-width: 300px; /* Ensures cards don't get too large on wider screens */
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
}

.character-card:hover {
    transform: translateY(-5px);
    border-color: #007bff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.character-card img {
    width: 100%; /* Ensures the image width is always 100% of its parent container */
    height: auto; /* Maintains the aspect ratio */
    max-width: 150px; /* Limits the image size to not exceed 150px */
    display: block; /* Ensures the image is block-level for proper centering */
    margin: 0 auto 15px; /* Centers the image horizontally and adds space below */
}

.character-info {
    padding: 20px;
}

.character-info h3, .character-info p {
    margin: 10px 0;
}

.navigation-button {
    display: inline-block; /* Change to inline-block for better control */
    background-color: #007bff; /* Blue background for a modern look */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px; /* Spacing from content above */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Consistent shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navigation-button:hover {
    background-color: #0056b3; /* Darker on hover for interaction feedback */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}

/* Media Query for Tablets and Desktops */
@media (min-width: 768px) {
    .character-container {
        justify-content: space-between;
    }

    .character-card {
        width: calc(50% - 40px); /* Adjusts width for 2 cards per row with margin */
        margin: 20px; /* Adds more space around cards */
    }

    .navigation-button {
        display: inline-block; /* Restores button to inline-block display */
        width: auto; /* Resets width to auto */
    }
}




/* Media Query for Desktops */
@media (min-width: 1024px) {
    .character-card {
        width: calc(33.333% - 40px); /* Adjusts for 3 cards per row */
    }
}

