body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px; /* Reduced padding on smaller screens */
    color: #333;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.character-card {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border: 2px solid transparent;
    border-radius: 10px;
    width: 90%; /* More flexible width for smaller screens */
    max-width: 300px; /* Ensures cards don't get too large on wider screens */
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
}

.character-card:hover {
    transform: translateY(-5px);
    border-color: #007bff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.character-card img {
    width: 100%;
    height: auto;
}

.character-info {
    padding: 20px;
}

.character-info h3, .character-info p {
    margin: 10px 0;
}

.navigation-button {
    display: block; /* Ensures button spans the full width of its container on smaller screens */
    width: auto; /* Allows the button to adjust its width as needed */
    margin: 20px auto; /* Centers the button horizontally */
}

/* Media Query for Tablets and Desktops */
@media (min-width: 768px) {
    .character-container {
        justify-content: space-between;
    }

    .character-card {
        width: calc(50% - 40px); /* Adjusts width for 2 cards per row with margin */
        margin: 20px; /* Adds more space around cards */
    }

    .navigation-button {
        display: inline-block; /* Restores button to inline-block display */
        width: auto; /* Resets width to auto */
    }
}

/* Media Query for Desktops */
@media (min-width: 1024px) {
    .character-card {
        width: calc(33.333% - 40px); /* Adjusts for 3 cards per row */
    }
}
